{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}Your servers{% endblock %}
{% block pagetitle %}Your servers{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/edit-table.js"></script>
{% endblock %}

{% block content %}

{% url "account" as account_url %}

<div class="tooltip" id="tooltip-domain">
    {% blocktrans %}The domain of your server.{% endblocktrans %}
</div>
<div class="tooltip" id="tooltip-website">
    {% blocktrans %}Website for your server, if different from https://&lt;domain&gt;{% endblocktrans %}
</div>
<div class="tooltip" id="tooltip-launched">
    {% blocktrans %}When the service was launched.{% endblocktrans %}
</div>
<div class="tooltip" id="tooltip-contact_type">
    {% blocktrans %}Type of the given contact address. Verification messages will be sent to email/xmpp addresses, websites (i.e. a contact-form) or MUCs will be manually checked.{% endblocktrans %}
</div>
<div class="tooltip" id="tooltip-contact">
    {% blocktrans %}The contact Adress to use.{% endblocktrans %}
</div>
<div class="tooltip" id="tooltip-contact_name">
    {% blocktrans %}Optional: A different text for the contact link.{% endblocktrans %}
</div>

<table class="table" id="your-servers">
    <thead>
    <tr>
        <th class="status">Status</th>
        {% for field in new_server_form %}
            <th class="tooltip-field" data-tip="{{field.name}}">{{ field.label }}</th>
        {% endfor %}
        <th></th>
    </tr>
    </thead>
    <tbody>
{% for form in forms %}
    {% include "server/includes/server_table_row.html" %}
{% endfor %}
    {% include "server/includes/new_server_row.html" %}
    </tbody>
</table>
<h2>{% trans "Requirements for being listed" %}</h2>
<ul>
    <li>{% blocktrans %}<strong>Technical aspects:</strong> The most important aspects of your
server configuration (SRV records, valid TLS certificate, ...) are
automatically checked every six hours. If your server ever fails any check,
your server will not be listed until the problems are fixed.{% endblocktrans%}</li>
    <li>{% blocktrans%}<strong>Homepage:</strong> Your homepage has to include some details
about your server. At the very least, it should indicate who (e.g. what
organisation, or just you privately) is running your server and give the same
contact address as given in the "Contact" field.{% endblocktrans %}</li>
    <li>{% blocktrans %}<strong>Contact:</strong> If you give a JID or E-Mail address, it has to be
    verified (unless it was already verified via <a href="{{ account_url }}">your
profile</a>) via an automatic message. Webpages or MUCs will be manually
verified. <strong>Note:</strong> Your server will be rejected if a JID/E-Mail
address is not verified.{% endblocktrans %}</li>
</ul>

<h2>Help on adding/editing servers</h2>
A few notes on adding/editing servers:
<ul>
    <li>
        Use the last row in the table above to add a server. When you are done,
        click the '+' sign on the right. If you are unsure what a field means, a description is
        shown when you hover over an input field.
    </li>
    <li>
        If you have any questions on what specific fields mean or why your server wasn't verified,
        please join our MUC at chat@conference.jabber.at (as usual: as a MUC, don't expect to
        get an immediate response, just lurk around for a while!).
    </li>
    <li>
        Don't go into to much detail on the <strong>Launched</strong> field. Only the year is
        actually used, don't hesitate to just pick January 1st of that year.
    </li>
    <li>
        Also take special care of the <strong>Contact type</strong> and <strong>Contact</strong>
        field. If you choose a JID or an e-mail address as a contact, you will receive a seperate
        verification message to confirm your contact details. If you choose a MUC or a website
        (presumably containing a contact-form), it will be manually checked by a moderator.
    </li>
    <li>
        For a server to show up on the frontpage, it has to be both verified and moderated.
        Verification is done automatically every few hours and checks SRV records and the like.
        Moderation is done by humans and checks things that cannot be automatically verified, like
        if your homepage actually works and shows some useful information. 
    </li>
    <li>
        The status (the left-most column) is actually a pop-up describing if your server is
        currently shown on the frontpage and if not, what the problems are. Just click on the symbol
        to get additional details.
    </li>
    <li>
        Please note that servers are never shown on the frontpage if your personal JID and e-mail
        are not verified. See <a href="{{ account_url }}">your profile</a> for details.
    </li>
    <li>
        If you have multiple virtual hosts running on the same server, simply add them as if they
        where individual servers. There currently is no support for virtual hosts.
    </li>
    <li>
        If you <strong>edit</strong> an existing server (click on the pencil to the right of the
        table) your server will have to be re-moderated and/or re-verified depending on what details
        you change. The server will not show up on the frontpage until this happens.
    </li>
</ul>
{% endblock %}
