{% load url from future %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}XMPP server list{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type="text/javascript">
        var csrftoken = "{{ csrf_token }}";
        var csrfinput = "{% csrf_token %}";
    </script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.7.1{% if debug %}.min{% endif %}.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery.tools.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/lib/jquery-ui/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css"/>
    {% block css %}{% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">{% trans "Toggle navigation" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url "home" %}">{% trans "Home" %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li ><a href="{% url "server" %}">
                        {% trans "My servers" %}</a></li>   
                {% endif %}
                {% if perms.server.moderate %}
                    <li>
                        <a href="{% url "server_moderation" %}">{% trans "Moderate" %}</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url "account" %}">profile</a></li>
                    <li><a href="{% url "django.contrib.auth.views.logout" %}?next={{ request.path }}">logout</a></li>
                {% else %}
                    <li><a href="{% url "django.contrib.auth.views.login" %}?next={{ request.path }}">login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="row content">
        <div class="col-md-12">
            <h1 id="pagetitle">{% block pagetitle %}{% endblock %}</h1>
            {% block danger %}
            {% if user.is_authenticated and not user.email_confirmed %}
                <div class="alert alert-danger">
                    Your E-Mail address has not yet been confirmed. You should have received a confirmation message
                    containing the link needed to confirm it. If you haven't received such a message,
                    you can <a href="{% url "account_resend_confirmation" %}">resend it</a>. If
                    you misspelled your address, you can <a href="{% url "account_edit" %}">change it here</a>.
                </div>
            {% endif %}
            {% if user.is_authenticated and not user.jid_confirmed %}
                <div class="alert alert-danger">
                    Your JID has not yet been confirmed. You should have received a confirmation message
                    containing the link needed to confirm it. If you haven't received such a message,
                    you can <a href="{% url "account_resend_confirmation" %}">resend it</a>. If
                    you misspelled your JID, you can <a href="{% url "account_edit" %}">change it here</a>.
                </div>
            {% endif %}
            {% endblock danger %}

            {% block content %}{% endblock %}
        </div>
    </div>


    <div class="row footer">
        <div class="col-md-12">
            {% block footer %}
            <footer>
                <div class="content">
                    <p>
                        <a href="https://flattr.com/submit/auto?user_id=mathiasertl&url=https%3A%2F%2Fjabber.at" target="_blank"><img src="//button.flattr.com/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
                        {% blocktrans %}© 2011-2014, Mathias Ertl unless otherwise noted.<br />
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}
                        This project is powered by <a href="https://www.djangoproject.com/">Django</a>.
                        The source code is available <a href="https://github.com/mathiasertl/django-xmpp-server-list">on GitHub</a>.
                        The logo is based on the Jabber logo by the <a href="http://jabber.org">Jabber.org</a> Team.
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
</div><!-- container end -->
</body>
</html>
