{% extends "base.html" %}
{% load url from future %}

{% block title %}Profile{% endblock %}
{% block pagetitle %}Profile{% endblock %}

{% block content %}
<p>
    You may want to <a href="{% url "account_edit" %}">edit your profile</a> or
    <a href="{% url "account_set_password" %}">set your password</a>.
</p>
<table id="profile-overview">
    <tr><th>Username:</th><td>{{ user.username }}</td></tr>
    <tr><th>First name:</th><td>{{ user.first_name }} </td></tr>
    <tr><th>Last name:</th><td>{{ user.last_name }} </td></tr>
    <tr>
        <th>E-mail address:</th>
        <td>{{ user.email }}
            {% if user.email_confirmed %}
                <img src="{{ STATIC_URL }}img/save.png" title="confirmed">
            {% else %}
                <img src="{{ STATIC_URL }}img/alert.png" title="not confirmed">
            {% endif %}
        </td>
    </tr>
    <tr><th>JID:</th>
        <td>{{ user.jid }}
            {% if user.jid_confirmed %}
                <img src="{{ STATIC_URL }}img/save.png" title="confirmed">
            {% else %}
                <img src="{{ STATIC_URL }}img/alert.png" title="not confirmed">
            {% endif %}
        </td>
    </tr>
</table>

{% endblock %}
